@charset "UTF-8";
/* 헤더 flex */
/* header */
#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    white-space: nowrap;
    height: 80px;
}
#header .logo {
    flex: 0 0 20%; /*Three values: flex-grow  flex-shrink  flex-basis*/
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    flex: 0 0 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
}
#header .member {
    flex: 0 0 20%;
    text-align: right;
    padding: 5px 0;
}
#header .member .setting {
    border: 0;
}
#header .member .setting svg {
    width: 30px;
    height: 30px;
    vertical-align: -6px;
    padding-right: 5px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #000;
    border-radius: 50px;
}

#footer {
    
    padding: 150px 0;
    /* background: #f5f5f5; */
    font-family: 'GmarketSans';
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-bottom: 50px;
}
.footer-menu > div {
    width: 16%;
}
.footer-menu > div h3 {
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 20px;
}
.footer-menu > div li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    color: rgb(96, 96, 96);
    transition: all 0.3s;
}
.footer-menu > div li a:hover {
    color: rgb(0, 0, 0);
}
.footer-menu > div li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.footer-menu > div li a:hover::before {
    transform: scaleX(1);
    color: #000;
}
.footer-rights {
    text-align: center;
}
.footer-sns {
    margin-top: 10px;
}
.footer-sns ul {
    display: flex;
    justify-content: center;
}
.footer-sns li a {
    width: 30px;
    height: 30px;
    margin: 4px 6px;
    display: inline-block;
    background-image: url(../img/bg-svg.svg);
}
.footer-sns li:nth-child(2) a {
    background-position: -50px 0;
}
.footer-sns li:nth-child(3) a {
    background-position: -100px 0;
}
.footer-sns li:nth-child(4) a {
    background-position: -150px 0;
}
/* 컨테이너 */
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    /* background-color: rgba(0,0,0,0.3); */
}
/* 배경색 */
.gray {
    background: #F5F5F5;
}
.white {
    background: #fff !important;
}
/* 회원가입,로그인 : join-type */
.join-type,
.login-type {
    padding: 100px 0;
    font-family: 'BMJua';
}
.social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.social > div {
    width: 150px;
    height: 28px;
    background: #F7F7F8;
    text-align: center;
    border-radius: 15px;
    font-size: 14px;
}
.social img {
    width: 15px;
    height: 15px;
    padding-top: 5px;
    margin-right: 5px;
    vertical-align: -3px;
}
.or {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.or::after {
    content: '';
    position: absolute;
    right: 0; top: 10px;
    border: 1px solid #F7F7F8;
    width: 200px;
}
.or::before {
    content: '';
    position: absolute;
    left: 0; top: 10px;
    border: 1px solid #F7F7F8;
    width: 200px;
}
.member-form {
    max-width: 600px;
    border: 1px solid #DEDEDE;
    background: #fff;
    margin: 0 auto;
    padding: 50px;
}
.member-form .logo {
    display: flex;
    justify-content: center;
}
.member-form h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
/* .login-type .member-form h3 {
    margin-top: 30px;
} */
.join-box label,
.login-box label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
}
.join-box input {
    border: 1px solid #fff;
    border-radius: 15px;
    background: #F7F7F8;
    width: 100%;
    height: 35px;
    padding: 15px;
    margin-bottom: 10px;
}
.login-box input {
    border: 1px solid #fff;
    border-radius: 15px;
    background: #F7F7F8;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 10px;
}
.join-box input::-webkit-input-placeholder {
    color: #BCBCBC;
    font-size: 12px;
}
.join-box input:-ms-input-placeholder {
    color: #BCBCBC;
    font-size: 12px;
}
.join-box input::placeholder {
    color: #BCBCBC;
    font-size: 12px;
}
.join-submit {
    font-size: 16px;
    background: #605BFF;
    color: #fff;
    padding: 10px;
    display: inline-block;
    width: 100%;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 50px;
}
.login-submit {
    font-size: 16px;
    background: #605BFF;
    color: #fff;
    padding: 10px;
    display: inline-block;
    width: 100%;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 30px;
    margin: 10px 0 10px 0;
}
.join-submit:hover,
.login-submit:hover {
    transform: scale(1.05);
}
#agree {
    height: 10px;
    display: inline;
    width: 10px;
}
.agree a {
    text-decoration: underline;
    text-underline-position: under;
    color: #605BFF;
}
.another {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.another img {
    width: 21px;
    height: 21px;
    margin: 0 10px;
}
.another img:hover {
    cursor: pointer;
}
.already {
    text-align: center;
    margin-top: 10px;
}
.already a {
    text-decoration: underline;
    text-underline-position: under;
    color: #605BFF;
}
.already a:hover {
    color: #0A0699;
}
.other {
    text-align: right;
}
.other a {
    color: #605BFF;
}
.other a:hover {
    color: #0A0699;
}
.other a:nth-child(1)::after {
    content: '';
    border: 0.5px solid #A3A0F6;
    width: 1px;
    height: 10px;
    margin: 0 0 0 5px;
}

/* 페이지피네이션? */
.board__pages {
    margin-top: 40px;
}
.board__pages ul {
    display: flex;
    justify-content: center;
}
.board__pages ul li {}
.board__pages ul li a {
    display: block;
    border: 1px solid #eee;
    padding: 14px 10px;
    font-size: 14px;
    margin-left: -1px;
}
.board__pages ul li.active a {
    background: #000;
    color: #fff;
}

/* 아이디 찾기 */
.findID {
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
}

.comment {
    float: right;
    font-size: 14px;
    color: red;
}

